API_PORT=2137
LOG_LEVEL=TRACE
LOG_FORMAT=console
JWT_SECRET=your_jwt_secret
JWT_EXPIRY_HOURS=24
ADMIN_USER=admin
ADMIN_PASSWORD=123123
APP_TIMEZONE=Europe/Warsaw
DATABASE_URL=postgres://chud:chud@localhost:5432/chud?sslmode=disable
